# Minecraft
local/
saves/
mods/
!kubejs/server_scripts/mods/
logs/
crash-reports/
backups/
resourcepacks/
shaderpacks/
server-resource-packs/
screenshots/
downloads/
modernfix/
fancymenu_data/
ESM/
.mixin.out/
.pg-native/
.sable/natives/
config/ars_nouveau/search_index/
Distant_Horizons_server_data/
debug/
journeymap/
XaeroWorldMap/
XaeroWaypoints/
icon.png
options.txt
!config/fancymenu/options.txt
rhino.local.properties
usercache.json
usernamecache.json
emi.json
command_history.txt
cache/c2me-dfc/*

# Pakku
build/
.pakku/server-overrides/minecraft_server.jar
!.pakku/
pakku.jar
!pakku.json
!pakku-lock.json

# Node.js
**/node_modules/

# dotenv
.env

# VSCode
!/.vscode/*.code-workspace
/.vscode/*

# ProbeJS
/kubejs/probe/
/kubejs/config/probejs.json
/kubejs/config/probe-settings.json
/kubejs/*/jsconfig.json
.probe/

# Client configs (with exceptions below)
/config/**/*client.*

!/config/sophisticatedstorage-client.toml
!/config/**/darkmodeeverywhere-client.toml
!/config/create-client.toml
!/config/modern_industrialization-client.toml

# Configs (generaly ones that tend to edit the date on launch)
!config/fml.toml
config/jei/world/local/*
config/fabric/indigo-renderer.properties
config/roughlyenoughitems/pinyin*.properties
config/trofers/general.json5
config/roughlyenoughitems/config.json5
config/sidebar_buttons.json
config/oculus.properties
config/modernfix-mixins.properties
config/immediatelyfast.json
config/ftbbackups2.json
config/packetfixer.properties
config/spark/tmp/
config/spark/activity.json
config/roughlyenoughitems/hints.json
config/voicechat/username-cache.json
config/minihud/*
config/embeddium-fingerprint.json
config/chiselsandbits-common.toml
config/defaultworldtype/world-presets.txt
config/jecalculation/record.json
config/jade/sort-order.json
config/jei*
config/embeddium++.toml
config/emi.css
config/darkmodeeverywhereshaders*
config/ichunutil/themes/
config/gtceu.yaml
defaultconfigs/ftbultimine/ftbultimine-*.snbt
config/iris.properties
config/sodium-fingerprint.json
config/travelanchors/common.json5
config/attributefix/*
config/simplemagnets-common.toml
config/smithingtemplateviewer-common.toml
config/smoothchunk.json
config/sodium-mixins.properties
config/sodium-options.json
config/sophisticateditemactions-client-1.toml.bak
config/sophisticatedstorage-client-1.toml.bak
config/spectrum-startup.toml
config/advancementplaques.toml
config/ae2wtlib.toml
config/aiimprovements-common.toml
config/ali/ali_common.json
config/alltheleaks.json
config/almostunified/startup.json
config/architects_palette-common.toml
config/asynclogger.toml
config/buildinggadgets2-common.toml
config/bwncr-common.toml
config/c2me.toml
config/ccl.cfg
config/charmofundying-server.toml
config/chat_heads.json5
config/clienttweaks-common.toml
config/cognition-common.toml
config/colorfulhearts.toml
config/comforts-common.toml
config/comforts-server.toml
config/constructionstick-startup.toml
config/CoroUtil/General.toml
config/craftingtweaks-common.toml
config/crawl.properties
config/create-client.toml
config/create-common.toml
config/createaddition-common.toml
config/ctm.toml
config/ctov-common.toml
config/cupboard.json
config/defaultoptions-common.toml
config/emi_loot_config.toml
config/EnderStorage.cfg
config/entity_model_features.json
config/entity_texture_features.json
config/entityculling.json
config/equipmentcompare.toml
config/etf_warnings.json
config/euphoria_patcher/.data.json
config/euphoria_patcher/settings.toml
config/expandeddelight-common.toml
config/explorerscompass-common-1.toml.bak
config/exposure-common.toml
config/extended_industrialization-startup.toml
config/extendedae-common.toml
config/farmersdelight-common.toml
config/farmingforblockheads-common.toml
config/fastbench.cfg
config/fastsuite.cfg
config/ferritecore-mixin.toml
config/forgivingvoid-common.toml
config/ftbessentials.snbt
config/ftbxmodcompat.snbt
config/functionalstorage/functionalstorage-common.toml
config/fzzy_config/keybinds.toml
config/gag.cfg
config/guideme.toml
config/iden_decor-common.toml
config/industrialization_overdrive-startup.toml
config/invasive_optimizations.properties
config/inventoryessentials-common.toml
config/iris-excluded.json
config/ixeris.toml
config/jade/hide-blocks.json
config/jade/hide-entities.json
config/jade/jade.json
config/jade/plugins.json
config/jamlib/known_suspicious_jars.txt
config/justenoughbreeding-offsets.json
config/justhammers.json
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/lambdynlights.toml
config/legendarytooltips.toml
config/lithium.properties
config/lithostitched.json
config/lootintegrations.json
config/lootr-common.toml
config/megacells-common.toml
config/merequester-common.toml
config/mi_sound_addon-common.toml
config/mi_tweaks-startup.toml
config/midnightlib.json
config/modern_industrialization-startup-1.toml.bak
config/modernfix-common.toml
config/modlistmemory.json
config/moonlight-common.toml
config/MouseTweaks.cfg
config/naturescompass-common.toml
config/neoforge-common.toml
config/nerb/compat/emi.yaml
config/nerb/general.yaml
config/NoChatReports/NCR-Common.json
config/NoChatReports/NCR-Encryption.json
config/NoChatReports/NCR-ServerPreferences.json
config/NoChatReports/README.md
config/nomansland-common.toml
config/nomansland-startup.toml
config/notenoughanimations.json
config/phantoms_utilities-common.toml
config/pipe-connector.toml
config/placebo.cfg
config/resourceful-config-web.json
config/Revelationary.json
config/rightclickharvest.json5
config/showcaseitem-common.toml
config/structure_layout_optimizer.jsonc
config/titanium/titanium-tags.toml
config/titanium/titanium.toml
config/transition.json
config/transmog.json
config/trashcans-common.toml
config/trashslot-common.toml
config/trender.json
config/waterconfig.toml
config/watut-common.toml
config/watut-item-arm-adjustments.json
config/watut-server.toml
config/waveycapes.json
config/waystones-common.toml
config/wstweaks.cfg
config/yacl.json5
config/yet_another_industrialization-startup.toml
config/yigd.json
config/zume.json5
defaultconfigs/biolith/general.json
defaultconfigs/certain_questing_additions/client-config.snbt
defaultconfigs/ftbessentials-server.snbt
/dynamic-resource-pack-cache
/dynamic-data-pack-cache
config/moonlight-client*
config/myotus-client*
observable_announce
config/tradingpost-server.toml
config/ftbultimine-server.snbt
config/InventoryHUD/curios.json
config/journeymap-server.toml
config/moredragoneggs-server.toml
config/morered-server.toml
config/neoforge-server.toml
config/observable.json
config/responsive-shields.toml
config/sophisticatedbackpacks-server-1.toml.bak
config/sophisticatedstorage-server-1.toml.bak
config/spark/config.json
config/spark/tmp-client/about.txt
config/spikyspikes-server.toml
config/tmrv_plugins.json5
config/ftbteams-server.snbt
config/ftbchunks-world.snbt
config/framedblocks-server.toml
config/exposure-server.toml
config/elevatorid-server.toml
config/curios-server.toml
config/crashutilities-server.toml
config/craftingstation-server.toml
config/chunky/config.json
config/almostunified/tags.json
config/almostunified/placeholders.json
config/almostunified/duplicates.json


# Linux
*~
.fuse_hidden*
.directory
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
ponders_watched.json
servers.dat
servers.dat_old
.gitignore
dynamic-resource-pack-cache/hash.txt
config/drippyloadingscreen/early_window_reference.properties
ftbbackups3/backups.json
