# Minecraft
local/
saves/
mods/
!kubejs/server_scripts/mods/
logs/
crash-reports/
backups/
resourcepacks/
shaderpacks/
server-resource-packs/
screenshots/
downloads/
modernfix/
fancymenu_data/
ESM/
.mixin.out/
.pg-native/
.sable/natives/
config/ars_nouveau/search_index/
Distant_Horizons_server_data/
debug/
journeymap/
XaeroWorldMap/
XaeroWaypoints/
icon.png
options.txt
rhino.local.properties
usercache.json
usernamecache.json
emi.json
command_history.txt

# Pakku
build/
.pakku/server-overrides/minecraft_server.jar
!.pakku/
pakku.jar
!pakku.json
!pakku-lock.json

# Node.js
**/node_modules/

# dotenv
.env

# VSCode
!/.vscode/*.code-workspace
/.vscode/*

# ProbeJS
/kubejs/probe/
/kubejs/config/probejs.json
/kubejs/config/probe-settings.json
/kubejs/*/jsconfig.json
.probe/

# Client configs (with exceptions below)
/config/**/*client.*

!/config/sophisticatedstorage-client.toml
!/config/**/darkmodeeverywhere-client.toml
!/config/create-client.toml

# Configs (generaly ones that tend to edit the date on launch)
config/fml.toml
config/jei/world/local/*
config/fabric/indigo-renderer.properties
config/roughlyenoughitems/pinyin*.properties
config/trofers/general.json5
config/roughlyenoughitems/config.json5
config/sidebar_buttons.json
config/oculus.properties
config/modernfix-mixins.properties
config/immediatelyfast.json
config/ftbbackups2.json
config/packetfixer.properties
config/spark/tmp/
config/spark/activity.json
config/roughlyenoughitems/hints.json
config/voicechat/username-cache.json
config/minihud/*
config/embeddium-fingerprint.json
config/chiselsandbits-common.toml
config/defaultworldtype/world-presets.txt
config/jecalculation/record.json
config/jade/sort-order.json
config/jei*
config/embeddium++.toml
config/emi.css
config/darkmodeeverywhereshaders*
config/ichunutil/themes/
config/gtceu.yaml
defaultconfigs/ftbultimine/ftbultimine-*.snbt
config/iris.properties
config/sodium-fingerprint.json

# Linux
*~
.fuse_hidden*
.directory
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
ponders_watched.json
servers.dat
servers.dat_old
.gitignore
dynamic-resource-pack-cache/hash.txt
config/drippyloadingscreen/early_window_reference.properties
ftbbackups3/backups.json
config/travelanchors/common.json5