packwiz.exe

StaTech*.zip
.idea/
.vscode/
.DS_Store
Thumbs.db
.probe


*.log
*.lck
*.lock
*.tmp
*.bak
*.jar
*.disabled
*.exe

saves/
logs/
crash-reports/
croremods/
local/
config/voicechat/
datapacks/
modern_industrialization/runtime_datagen
modern_industrialization/generated_resources
debug/
defaultconfigs/
downloads/
emotes/
ESM/
schematics/
spark-modernfix/
server-resource-packs/
fancymenu_data/
observable_profiles/
options.txt
optionsof.txt
servers.dat
usernamecache.json
usercache.json
launcher_profiles.json
launcher_log.txt
screenshots/
resourcepacks/
journeymap/
XaeroWorldMap/
XaeroWaypoints/
