Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
     >
    S:descendants <
     >
    S:ores <
        #c:ores/iron,2
        #c:ores/bauxite,8
     >
    I:rarity=50
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >
    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        S:max=64
        S:min=16
    }

    Miscellaneous {
        S:altitudeOffset=0..0
        B:exposed=true
        I:maxAttempts=16
        S:proportions=1.0
        B:strictBounds=false
        B:strictStart=false
        B:surfaceBiomes=false
    }

    Indicator {
        S:circles <
            surfacesamples:aluminum_ore_sample:[flavour=unknown, waterlogged=false], 4
         >
        S:continuity=60.0
        I:distortion=1
        S:id=
        S:threshold=30.0
    }

    Size {
        I:max=1400
        I:min=700
    }
}