Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:deepslate_ore_replaceables -> deepslate_coal_ore, 6
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_lignite_coal_ore, 4
     >
    S:descendants <
     >
    S:ores <
        #c:ores/coal,6
        #c:ores/lignite_coal,4
     >
    I:rarity=35
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >
    B:vanilla=true

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
            #minecraft:is_mountain
         >
    }

    Altitude {
        S:max=256
        S:min=108
    }

    Miscellaneous {
        S:altitudeOffset=0..0
        B:exposed=true
        I:maxAttempts=16
        S:proportions=3.0
        B:strictBounds=false
        B:strictStart=false
        B:surfaceBiomes=false
    }

    Indicator {
        S:circles <
            kubejs:coal_ore_sample, 2
            kubejs:coal_ore_sample, 3
         >
        S:continuity=60.0
        I:distortion=1
        S:id=
        S:threshold=1.0
    }

    Size {
        I:max=1000
        I:min=800
    }
}