Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:deepslate_ore_replaceables -> deepslate_diamond_ore,6
        #minecraft:deesplate_ore_replaceables -> deepslate_coal_ore,1
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_sapphire_ore,1
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_fluorite_ore,1
     >
    S:descendants <
     >
    S:ores <
        #c:ores/diamond,6
        #c:ores/coal,1
        #c:ores/sapphire,1
        #c:ores/fluorite,1
     >
    I:rarity=100
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >
    B:vanilla=true

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        S:max=-16
        S:min=-64
    }

    Miscellaneous {
        S:altitudeOffset=0..0
        B:exposed=true
        I:maxAttempts=16
        S:proportions=0.3
        B:strictBounds=false
        B:strictStart=false
        B:surfaceBiomes=false
    }

    Indicator {
        S:circles <
            kubejs:diamond_ore_sample, 2
         >
        S:continuity=60.0
        I:distortion=1
        S:id=
        S:threshold=1.0
    }

    Size {
        I:max=300
        I:min=200
    }
}