Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:deepslate_ore_replaceables -> deepslate_emerald_ore
     >
    S:descendants <
     >
    S:ores <
        #c:ores/emerald,8
        #c:ores/fluorite,1
        #c:ores/peridot,1
     >
    I:rarity=25
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >
    B:vanilla=true

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        S:max=256
        S:min=128
    }

    Miscellaneous {
        S:altitudeOffset=0..0
        B:exposed=true
        I:maxAttempts=16
        S:proportions=2.0
        B:strictBounds=false
        B:strictStart=false
        B:surfaceBiomes=false
    }

    Indicator {
        S:circles <
            kubejs:emerald_ore_sample, 1
            kubejs:emerald_ore_sample, 2
            kubejs:emerald_ore_sample, 3
         >
        S:continuity=60.0
        I:distortion=1
        S:id=
        S:threshold=1.0
    }

    Size {
        I:max=400
        I:min=200
    }
}