Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:deepslate_ore_replaceables -> deepslate_iron_ore
     >
    S:descendants <
     >
    S:ores <
        #c:ores/iron,8
        #c:ores/nickel,2
     >
    I:rarity=50

    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >
    B:vanilla=true

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        S:max=96
        S:min=16
    }

    Miscellaneous {
        S:altitudeOffset=0..0
        B:exposed=true
        I:maxAttempts=16
        S:proportions=1.0
        B:strictBounds=false
        B:strictStart=false
        B:surfaceBiomes=false
    }

    Indicator {
        S:circles <
            kubejs:iron_ore_sample, 2
         >
        S:continuity=60.0
        I:distortion=1
        S:id=
        S:threshold=1.0
    }

    Size {
        I:max=1500
        I:min=1100
    }
}