Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:deepslate_ore_replaceables -> deepslate_lapis_ore
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_sapphire_ore,1
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_ruby_ore,1
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_peridot_ore,1
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_fluorite_ore,1
     >
    S:descendants <
     >
    S:ores <
        #c:ores/lapis,8
        #c:ores/sapphire,1
        #c:ores/ruby,1
        #c:ores/peridot,1
        #c:ores/fluorite,1
     >
    I:rarity=50
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >
    B:vanilla=true

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        S:max=8
        S:min=-64
    }

    Miscellaneous {
        S:altitudeOffset=0..0
        B:exposed=true
        I:maxAttempts=16
        S:proportions=1.0
        B:strictBounds=false
        B:strictStart=false
        B:surfaceBiomes=false
    }

    Indicator {
        S:circles <
            kubejs:lapis_ore_sample, 2
         >
        S:continuity=60.0
        I:distortion=1
        S:id=
        S:threshold=30.0
    }

    Size {
        I:max=600
        I:min=400
    }
}