# Configuration file

Config {
    # If set to False, parameters from this config will not be used. [default: true]
    B:enabled=true
}


Deposit {
    # Syntax: targetId -> replacementId
    # With weight: targetId -> replacementId, weight
    S:customReplacements <
     >

    # List of descendants (deposits/geodes) that will attempt to be generated after this (parent) one.
    # Format: threshold% -> descendant, chance% [:group]
    #   <threshold> - minimum percentage of the parent's size that must be reached to begin generating this descendant
    #   <descendant> - ID of the descendant in the following format: deposit:name or geode:name
    #   <chance> - chance of generating the descendant (from 0 to 100%)
    #   <group> - group name (optional parameter). Can contain only letters, digits or underscores [a-zA-Z0-9_].
    # All listed descendants will attempt to be generated in random order.
    # Group descendants to achieve logical "or" behaviour (only one descendant from each group will be generated).
    # Starting position will be chosen within the chunk where the parent's size has reached the threshold value.
    # Examples:
    #    90% -> deposit:diamond, 10%
    #    80% -> deposit:iron, 40% :metals
    #    70% -> geode:amethyst, 20%
    S:descendants <
     >

    # List of ores and their weights for this deposit.
    # Syntax: oreId [, weight]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from particular to general (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #c:ores/copper).
    # 
    # Weight is used to define the proportions of the ores.
    # For example, the definition:
    #      #c:ores/gold, 1
    #      #c:ores/iron, 5
    # means that gold and iron will be in the proportion 1 to 5.
    # 
    # Prefixing an ore ID with '!' simulates ore placement logic without actually placing ore blocks in the world.
    # This is useful for testing, creating gaps between ore blocks or setting up parent deposits that only generate their descendants around them. (Example: !emerald_ore)
    # 
    S:ores <
        #c:ores/platinum,9
        modern_industrialization:iridium_ore,1 
        modern_industrialization:monazite_ore,2
     >

    # Rarity (in chunks). The higher the value, the rarer the generation will be.
    # Example: a value of 1000 means that generation will occur approximately once every 1000 chunks.
    #  [range: 0 ~ 256000, default: 2613]
    I:rarity=100

    # List of blocks that can be replaced with this ore.
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >

    # Determines whether this deposit is considered vanilla. [default: false]
    B:vanilla=false

    ##########################################################################################################
    # Dimensions
    #--------------------------------------------------------------------------------------------------------#
    # List of dimensions which this ore can be generated in.
    # Dimension is specified by its registry name (e.g: minecraft:overworld, minecraft:the_nether, minecraft:the_end, etc.)
    # Each dimension must be on a separate line without any delimiters.
    # If the whitelist is set, the blacklist will be ignored.
    ##########################################################################################################

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    ##########################################################################################################
    # Biomes
    #--------------------------------------------------------------------------------------------------------#
    # List of biomes which this ore can be generated in.
    # Biome is specified by its registry name (case-insensitive) or by its tag with '#' prefix.
    # Examples: minecraft:forest, #snowy
    # Each biome must be on a separate line without any delimiters.
    # If the whitelist is set, the blacklist will be ignored.
    # Enclose the biome ID in underscores to specify a surface biome instead of an underground one (example: _minecraft:beach_)
    ##########################################################################################################

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    ##########################################################################################################
    # Altitude
    #--------------------------------------------------------------------------------------------------------#
    # Altitude bounds within which this ore can be generated.
    # To set a value relative to ground level (including ocean floor), enclose it in underscores (example: _-24_)
    # To set a value relative to global sea level, enclose it in tildes (example: ~-24~)
    # To set a value relative to a surface level (ground or water), enclose it in equal signs (example: =-24=)
    ##########################################################################################################

    Altitude {
        #  [default: 32]
        S:max=32

        #  [default: 8]
        S:min=-24
    }

    Miscellaneous {
        # If set, the altitude will be calculated relative to the generated parent deposit, if any. [default: 0..0]
        S:altitudeOffset=0..0

        # Whether or not the ore blocks can be exposed to air. [default: true]
        B:exposed=true

        # Maximum number of attempts to generate this ore, picking different starting points, until all conditions are met. [range: 1 ~ 1024, default: 16]
        I:maxAttempts=16

        # Ratio of height to width.
        # Values greater than 1 will result in tall shapes, whilst values less than 1 will result in flat shapes.
        #  [range: 0.0 ~ 10.0, default: 1.0]
        S:proportions=1.0

        # If enabled, each ore block will be checked against the given altitude and biome restrictions, rather than the first one. [default: false]
        B:strictBounds=false

        # If enabled, the starting point will be checked only against replaceable blocks, ignoring custom replacements. [default: false]
        B:strictStart=false

        # If enabled, all biome restrictions will be checked against the surface biome rather than the underground biome at the placement position. [default: false]
        B:surfaceBiomes=false
    }

    ##########################################################################################################
    # Indicator
    #--------------------------------------------------------------------------------------------------------#
    # Above-ground indicator for this deposit
    ##########################################################################################################

    Indicator {
        # Circles of indicators and their radiuses.
        # Syntax: indicatorId [, circleRadius]
        # The order of the circles is always shuffled.
        # The circles with the same radius will be randomly selected.
        # If the radius is not defined, it will be selected from the minimum available, starting from 1.
        # Examples:
        #   minecraft:cornflower, 2
        #   minecraft:orange_tulip, 4
        # 
        S:circles <
            silentgems:opal_glowrose, 3
            botania:light_gray_mystical_flower, 3
            minecraft:lily_of_the_valley, 3
            adfinders:pebbles:*, 4
            surfacesamples:platinum_ore_sample:[flavour=unknown, waterlogged=false], 4
            silentgems:opal_glowrose, 6
            botania:white_mystical_flower, 6
            minecraft:oxeye_daisy, 6
         >

        # Percentage of the indicator shape that will be visible. [range: 0.0 ~ 100.0, default: 60.0]
        S:continuity=60.0

        # Maximum displacement of the indicator shape elements. [range: 0 ~ 16, default: 1]
        I:distortion=1

        # Indicator ID.
        # Possible values:
        #    Block ID (for single-block indicators). Example: minecraft:rose_bush
        #    Placed feature ID (use the /place feature command to see available features). Example: minecraft:birch
        #    Structure ID (used as an anchor). Example: minecraft:desert_pyramid
        #       The structure itself won't be generated by this mod.
        #       Instead, ore will be generated beneath the structure with a probability defined by the threshold parameter.
        #  [default: ]
        S:id=

        # Percentage of the deposit full size required to create an above-ground indicator.
        # If the indicator is a structure - the chance of generating a deposit beneath it. [range: 0.0 ~ 100.0, default: 30.0]
        S:threshold=30.0
    }

    ##########################################################################################################
    # Size
    #--------------------------------------------------------------------------------------------------------#
    # Size limits (in blocks) of this deposit.
    ##########################################################################################################

    Size {
        #  [range: 1 ~ 256000, default: 1000]
        I:max=200

        #  [range: 1 ~ 256000, default: 500]
        I:min=50
    }

}


