Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_quartz_ore, 5
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_antimony_ore, 4
        #minecraft:deepslate_ore_replaceables -> modern_industrialization:deepslate_kernite_ore, 1
     >
    S:descendants <
     >
    S:ores <
        modern_industrialization:quartz_ore,5
        modern_industrialization:antimony_ore,4
        modern_industrialization:kernite_ore,1
     >
    I:rarity=120
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >
    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        S:max=32
        S:min=-32
    }

    Miscellaneous {
        S:altitudeOffset=0..0
        B:exposed=true
        I:maxAttempts=16
        S:proportions=0.1
        B:strictBounds=false
        B:strictStart=false
        B:surfaceBiomes=false
    }

    Indicator {
        S:circles <
            kubejs:quartz_ore_sample, 2
         >
        S:continuity=60.0
        I:distortion=1
        S:id=
        S:threshold=1.0
    }

    Size {
        I:max=1000
        I:min=800
    }
}