Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
     >
    S:descendants <
     >
    S:ores <
        #c:ores/uranium, 9
        #c:ores/iridium, 1
     >
    I:rarity=100
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >
    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        S:max=0
        S:min=-64
    }

    Miscellaneous {
        S:altitudeOffset=0..0
        B:exposed=true
        I:maxAttempts=16
        S:proportions=1.0
        B:strictBounds=false
        B:strictStart=false
        B:surfaceBiomes=false
    }

    Indicator {
        S:circles <
            kubejs:uranium_ore_sample, 4
         >
        S:continuity=60.0
        I:distortion=1
        S:id=
        S:threshold=30.0
    }

    Size {
        I:max=1000
        I:min=500
    }
}