# Configuration file

gem_finder {
    S:targets <
        modern_industrialization:quartz_ore, 0xfff0ebe4, quartz
        modern_industrialization:deepslate_quartz_ore, 0xfff0ebe4, quartz
        modern_industrialization:peridot_ore, 0xff59f261, peridot
        modern_industrialization:deepslate_peridot_ore, 0xff59f261, peridot
        modern_industrialization:ruby_ore, 0xffd1001f, ruby
        modern_industrialization:deepslate_ruby_ore, 0xffd1001f, ruby
        modern_industrialization:sapphire_ore, 0xff4873f2, sapphire
        modern_industrialization:deepslate_sapphire_ore, 0xff4873f2, sapphire
     >
}


metal_finder {
    S:targets <
        modern_industrialization:antimony_ore, 0xffdcdcf0, antimony
        modern_industrialization:deepslate_antimony_ore, 0xffdcdcf0, antimony
        modern_industrialization:iridium_ore, 0xffe1e6f5, iridium
        modern_industrialization:deepslate_iridium_ore, 0xffe1e6f5, iridium
        modern_industrialization:lead_ore, 0xff6a76bc, lead
        modern_industrialization:deepslate_lead_ore, 0xff6a76bc, lead
        modern_industrialization:nickel_ore, 0xfffafac8, nickel
        modern_industrialization:deepslate_nickel_ore, 0xfffafac8, nickel
        modern_industrialization:platinum_ore, 0xffffe5ba, platinum
        modern_industrialization:deepslate_platinum_ore, 0xffffe5ba, platinum
        modern_industrialization:silver_ore, 0xffdcdcff, silver
        modern_industrialization:deepslate_silver_ore, 0xffdcdcff, silver
        modern_industrialization:tin_ore, 0xffc0bcd0, tin
        modern_industrialization:deepslate_tin_ore, 0xffc0bcd0, tin
        modern_industrialization:titanium_ore, 0xffdca0f0, titanium
        modern_industrialization:deepslate_titanium_ore, 0xffdca0f0, titanium
        modern_industrialization:tungsten_ore, 0xff8760ad, tungsten
        modern_industrialization:deepslate_tungsten_ore, 0xff8760ad, tungsten
        modern_industrialization:uranium_ore, 0xff39e600, uranium
        modern_industrialization:deepslate_uranium_ore, 0xff39e600, uranium
     >
}


mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from particular to general (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #c:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xffaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
        modern_industrialization:lignite_coal_ore, 0xffff2b2b2b, coal
        modern_industrialization:deepslate_lignite_coal_ore, 0xffff2b2b2b, coal
        modern_industrialization:fluorite_ore, 0xffe4ed9b, fluorite
        modern_industrialization:deepslate_fluorite_ore, 0xffe4ed9b, fluorite
        modern_industrialization:bauxite_ore, 0xffc86400, bauxite
        modern_industrialization:deepslate_bauxite_ore, 0xffc86400, bauxite
        modern_industrialization:monazite_ore, 0xff96248e, monazite
        modern_industrialization:deepslate_monazite_ore, 0xff96248e, monazite
        modern_industrialization:salt_ore, 0xffc7d6c5, salt
        modern_industrialization:deepslate_salt_ore, 0xffc7d6c5, salt
     >
}


