# Configuration file

VanillaOre {
    # Syntax: targetId -> replacementId
    # With weight: targetId -> replacementId, weight
    S:customReplacements <
        #minecraft:deepslate_ore_replaceables -> infested_deepslate
     >

    # Generation type used for this ore. Possible values:
    #     VANILLA - vanilla generation without any changes,
    #     CUSTOM - generation according to this config,
    #     NONE - no generation at all.
    # Note that changing this setting requires a WORLD RESTART in order to update every biome's features. [default: vanilla]
    S:generation=vanilla

    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from particular to general (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #c:ores/copper).
    #  [default: infested_stone]
    S:oreId=infested_stone

    # List of blocks that can be replaced with this ore.
    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
     >

    ##########################################################################################################
    # Dimensions
    #--------------------------------------------------------------------------------------------------------#
    # List of dimensions which this ore can be generated in.
    # Dimension is specified by its registry name (e.g: minecraft:overworld, minecraft:the_nether, minecraft:the_end, etc.)
    # Each dimension must be on a separate line without any delimiters.
    # If the whitelist is set, the blacklist will be ignored.
    ##########################################################################################################

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    ##########################################################################################################
    # Biomes
    #--------------------------------------------------------------------------------------------------------#
    # List of biomes which this ore can be generated in.
    # Biome is specified by its registry name (case-insensitive) or by its tag with '#' prefix.
    # Examples: minecraft:forest, #snowy
    # Each biome must be on a separate line without any delimiters.
    # If the whitelist is set, the blacklist will be ignored.
    # Enclose the biome ID in underscores to specify a surface biome instead of an underground one (example: _minecraft:beach_)
    ##########################################################################################################

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    ##########################################################################################################
    # Altitude
    #--------------------------------------------------------------------------------------------------------#
    # Altitude bounds within which this ore can be generated.
    # To set a value relative to ground level (including ocean floor), enclose it in underscores (example: _-24_)
    # To set a value relative to global sea level, enclose it in tildes (example: ~-24~)
    # To set a value relative to a surface level (ground or water), enclose it in equal signs (example: =-24=)
    ##########################################################################################################

    Altitude {
        #  [default: 63]
        S:max=63

        #  [default: -64]
        S:min=-64
    }

    Miscellaneous {
        # If set, the altitude will be calculated relative to the generated parent deposit, if any. [default: 0..0]
        S:altitudeOffset=0..0

        # Whether or not the ore blocks can be exposed to air. [default: true]
        B:exposed=true

        # Maximum number of attempts to generate this ore, picking different starting points, until all conditions are met. [range: 1 ~ 1024, default: 1]
        I:maxAttempts=1

        # Ratio of height to width.
        # Values greater than 1 will result in tall shapes, whilst values less than 1 will result in flat shapes.
        #  [range: 0.0 ~ 10.0, default: 1.0]
        S:proportions=1.0

        # If enabled, each ore block will be checked against the given altitude and biome restrictions, rather than the first one. [default: false]
        B:strictBounds=false

        # If enabled, the starting point will be checked only against replaceable blocks, ignoring custom replacements. [default: false]
        B:strictStart=false

        # If enabled, all biome restrictions will be checked against the surface biome rather than the underground biome at the placement position. [default: false]
        B:surfaceBiomes=false
    }

    ##########################################################################################################
    # VeinsInChunk
    #--------------------------------------------------------------------------------------------------------#
    # Number of ore veins to generate in each chunk.
    ##########################################################################################################

    VeinsInChunk {
        #  [range: 1 ~ 1024, default: 14]
        I:max=14

        #  [range: 1 ~ 1024, default: 14]
        I:min=14
    }

    ##########################################################################################################
    # BlocksInVein
    #--------------------------------------------------------------------------------------------------------#
    # Number of ore blocks in each vein.
    ##########################################################################################################

    BlocksInVein {
        #  [range: 1 ~ 1024, default: 9]
        I:max=9

        #  [range: 1 ~ 1024, default: 1]
        I:min=1
    }

}


